<div class="ui-entity-list card">
  <div class="card-header">
    <strong>{{ entityTag }}</strong>
  </div>
  <div class="card-body">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-secondary dropdown-toggle" id="dropdownEntity1" ngbDropdownToggle>
        {{ entityProfileTag }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownEntity1">
          <button 
              ngbDropdownItem
              class="list-group-item list-group-item-action rounded-0"
              *ngFor="let entity of entities"
              (click)="entitySelected(entity)">{{ entity.name }}
                  <ng-container *ngIf="displayCapital">
                      ({{ entity.capital }})
                  </ng-container>
          </button>
      </div>
    </div>
    <div *ngIf="displayCapital!==undefined" class="form-check">
      <label>
        <input class="form-check-input"
               type="checkbox"
               (change)="checkChanged($event.target.checked)"
               [checked]="displayCapital">
        List including Capital
      </label>
    </div>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
</div>
  